<div class="single-top-item d-flex wow fadeInUp" data-wow-delay="100ms">
  <div class="thumbnail">
    <img src="{{ asset(image) }}">
  </div>
  <div class="content-">
    <h6>{{ podcaster }}</h6>
    <p>{{ episode }}</p>
  </div>
</div>
