<form method="post" action="{{ path('reco_delete', {'id': reco.getId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reco.getId) }}">
    <button class="btn">Delete</button>
</form>
