
{% extends 'baseArticle.html.twig' %}

{% block title %}Hello add ArticleController!{% endblock %}

{% block body %}
<h1>Edit Reco</h1>

{{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

<a href="{{ path('reco_index') }}">back to list</a>

{{ include('article/_delete_form.html.twig') }}
{% endblock %}