{% extends 'baseArticle.html.twig' %}

{% block title %}Hello add ArticleController!{% endblock %}

{% block body %}
<h1>Create new Article</h1>

{{ include('article/_form.html.twig') }}

<a href="{{ path('reco_index') }}">back to list</a>
{% endblock %}