<div class="card mx-auto mt-2" style="width: 18rem;">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">{{ history.time|date('d-m-Y - h:m:s') }}</h6>
    <h5 class="card-title font-weight-bold">{{ history.activity }}</h5>
    <p class="card-text">{{ history.description }}</p>
  </div>
</div>
